* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    overflow-x: hidden;
}


.center {
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.15);
}
.center h2 {
    margin: 10px;
    padding: 20px 0;
    color: #333;
    text-align: center;
    border-bottom: 1px solid silver;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 900px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

thead {
    background: #4a90e2;
    color: white;
}

th, td {
    text-align: center;
    padding: 12px 15px;
    border-bottom: 0.1px solid #333 !important;
}

tbody tr:hover {
    background: #f1f1f1;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

td {
    color: #555;
    font-size: 15px;
}

tbody tr:last-child td {
    border-bottom: none;
}
